@media (min-width: 1600px) {}

@media (max-width: 1599px) {}

@media (max-width: 1499px) {}

@media (max-width: 1399px) {}

@media (max-width: 1299px) {}

@media (max-width: 1199px) {}

@media (max-width: 991px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}

@media (max-width: 481px) {}