/* Inter ExtraBold */
@font-face {
  font-family: 'Inter';
  src: url('Inter18pt-ExtraBold.woff2') format('woff2'),
    url('Inter18pt-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* Inter ExtraLight */
@font-face {
  font-family: 'Inter';
  src: url('Inter18pt-ExtraLight.woff2') format('woff2'),
    url('Inter18pt-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

/* Inter Bold */
@font-face {
  font-family: 'Inter';
  src: url('Inter18pt-Bold.woff2') format('woff2'),
    url('Inter18pt-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* Inter SemiBold */
@font-face {
  font-family: 'Inter';
  src: url('Inter18pt-SemiBold.woff2') format('woff2'),
    url('Inter18pt-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('Inter18pt-Black.woff2') format('woff2'),
    url('Inter18pt-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('Inter18pt-Light.woff2') format('woff2'),
    url('Inter18pt-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Inter Medium */
@font-face {
  font-family: 'Inter';
  src: url('Inter18pt-Medium.woff2') format('woff2'),
    url('Inter18pt-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Inter Regular */
@font-face {
  font-family: 'Inter';
  src: url('Inter18pt-Regular.woff2') format('woff2'),
    url('Inter18pt-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}